/* /// Общие настройки ///*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/images/cursor.png"), auto;
}
body {
  font-family: "Playpen Sans", sans-serif;
  background: #fffafb;
  color: #5d3a5a;
}
img {
  max-width: 100%;
  display: block;
}
button {
  font-family: "Playpen Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #8b008b;
  height: 100px;
  width: 200px;
  background-image: url(images/button1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor:
    url("images/pointer.png") 6 6,
    pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  color: #ff1180;
}

/* /// ШАПКА ///*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #fff5f7;
}
.logo {
  width: 120px;
  transition: transform 0.4s ease;
}
.logo:hover {
  transform: scale(1.1);
}
nav {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #8b008b;
  font-weight: 700;
  transition: 0.3s;
  cursor:
    url("images/pointer.png") 6 6,
    pointer;
}
nav a:hover {
  color: #ff8fc4;
}
/* /// HERO блок ///*/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fdf2d0;
  gap: 40px;
}
.hero-content {
  text-align: center;
  max-width: 900px;
  margin: auto;
}
.hero-logo {
  width: 500px;
  margin: 40px auto 20px;
  transition: transform 0.4s ease;
}
.hero-logo:hover {
  transform: scale(1.1);
}
.hero-img {
  width: 300px;
}
/* /// Преимущества ///*/
.features {
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
  text-align: center;
  gap: 20px;
}
.features div {
  flex: 1;
}
.features h3 {
  margin-bottom: 10px;
  color: #8b008b;
}
/* /// Коллекции ///*/

.collections h2 img {
  width: 50%;
  margin: auto;
  transition: transform 0.4s ease;
}
.collections h2 img:hover {
  transform: scale(1.1);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.item {
  background: white;
  border-radius: 18px;
  padding: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-8px);
}

.item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 14px;
}

.item h3 {
  margin-top: 10px;
  color: #8b008b;
}

/* доп фото */
.extra-images {
  display: none;
}

/* когда фильтр включен */
.filter-mode .item h3,
.filter-mode .main-img {
  display: none;
}

.filter-mode .extra-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.filter-mode .extra-images img {
  width: 100%;
  border-radius: 14px;
  padding: 8px;
  background: white;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.filter-mode .extra-images img:hover {
  transform: scale(1.05);
}
/* /// ФИЛЬТР ///*/

.filters-section {
  padding: 40px 20px;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filter-btn {
  width: 150px;
  height: 70px;
  font-size: 16px;
}

.hide {
  display: none;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 40px 20px;
}

.product-card {
  background: #fff;
  border-radius: 18px;
  padding: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-8px) scale(1.03);
}

.product-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 14px;
}
/* /// Подписка на новости ///*/
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 10% 0;
  background: #fdf2d0;
  text-align: center;
  overflow: hidden;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-img {
  height: 300px;
  display: block;
  align-self: flex-end;
}
form {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
input {
  height: 50px;
  padding: 0 24px;
  border-radius: 40px;
  border: none;
  width: 320px;
  max-width: 100%;
  min-width: 320px;
  font-size: 18px;
  font-family: "Playpen Sans", sans-serif;
}
.subscribe-success {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 100px;
}
.subscribe-success img {
  width: 200px;
}
.subscribe-content.success .subscribe-text,
.subscribe-content.success .subscribe-form {
  display: none;
}

.subscribe-content.success .subscribe-success {
  display: flex;
}
/* /// Приложения для смартфона ///*/
.app-section {
  padding: 60px 10%;
  text-align: center;
  background: #fffafb;
}
.app-buttons {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
}
.app-btn {
  display: inline-block;
  width: 70px;
}
.social img,
.app-btn img {
  transition: 0.3s;
  cursor:
    url("images/pointer.png") 6 6,
    pointer;
}

.social img:hover,
.app-btn img:hover {
  transform: translateY(-5px) scale(1.08);
  filter: drop-shadow(0 6px 10px rgba(255, 150, 200, 0.4));
}

/* /// ОТЗЫВЫ ///*/
.reviews {
  padding: 70px 10%;
  text-align: center;
  background: #fffafb;
}

.mySwiper {
  max-width: 900px;
  margin: 40px auto 0;
  padding-bottom: 100px;
}

.review-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.review-content h3 {
  margin: 0;
  color: #8b008b;
  font-size: 24px;
}

.review-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.review-content p {
  max-width: 420px;
  margin: 0;
  line-height: 1.5;
}

.swiper-button-prev,
.swiper-button-next {
  color: #8b008b !important;
  cursor:
    url("images/pointer.png") 6 6,
    pointer !important;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #8b008b !important;
  opacity: 0.4;
  cursor:
    url("images/pointer.png") 6 6,
    pointer !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #8b008b !important;
}
/* Анимация */

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* /// ПОДВАЛ ///*/
.footer {
  padding: 40px 10%;
  background: #fff5f7;
  text-align: center;
}
.footer-logo {
  width: 120px;
  margin: auto auto 20px;
  transition: transform 0.4s ease;
  cursor:
    url("images/pointer.png") 6 6,
    pointer;
}
.footer-logo:hover {
  transform: scale(1.1);
}
.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
.social img {
  width: 32px;
  height: 32px;
}

/* /// АДАПТИВ ///*/

@media (max-width: 992px) {
  .hero {
    display: block;
    padding: 30px 20px;
  }
  .hero-img,
  .side-img {
    display: none;
  }
  .features {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe {
    display: block;
  }
  .collections h2 img {
    width: 80%;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 20px 15px;
  }
  .hero-content p {
    font-size: 14px;
    padding: 0 10px;
  }
  .footer {
    padding: 30px 15px;
  }
  .social {
    gap: 15px;
  }
  .social img {
    width: 36px;
    height: 36px;
  }
  input {
    width: 320px;
    max-width: 100%;
    min-width: 0;
  }
  button {
    width: 160px;
    height: 80px;
    font-size: 16px;
    background-size: contain;
  }

  .header {
    flex-direction: column;
    gap: 15px;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .hero-logo {
    width: 100%;
    max-width: 320px;
  }
  .collections h2 img {
    width: 100%;
  }
  input,
  button {
    width: 100%;
  }
  .products-grid {
    grid-template-columns: 1fr;
  }
  .review-content img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
}
